<div class="container">
    <div class="row">
        <div class="row mt-5">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                 <div class="form-group">
                    <label for="nombre">Fecha</label>
                    <input type="date" class="form-control" id="fecha" name="fecha"
                    [(ngModel)]="bitacoraDetalle.fecha" required>
                </div>
                <div class="form-group">
                    <label for="precio">Vehiculo</label>
                    <input type="number" class="form-control" id="bitacoraMantenimiento" name="bitacoraMantenimiento"
                    [(ngModel)]="bitacoraDetalle.bitacoraMantenimiento" required>
                </div>
                <div class="form-group">
                    <label for="precio">Bitacora Mantenimiento</label>
                    <input type="number" class="form-control" id="vehiculo" name="vehiculo"
                    [(ngModel)]="bitacoraDetalle.vehiculo" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>

